.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  gap: 28px;
  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
  }

  &__photo_div {
    width: 100%;
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      width: auto;
    }
  }
}

.typed-out {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 4s forwards;
  font-size: 1.6rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 120px);
  }
}

.header-photo {
  width: 180px;
  height: auto;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    width: 221px;
    height: auto;
  }
  @media (max-height: 900px) {
    width: 150px;
    height: auto;
  }
}
