.projectsDesktop {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-area: projectsDesktop;
    &container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 24px;
    }
    &card {
        width: 320px;
        height: 195px;
        position: relative;
        cursor: pointer;
    }
    &image {
        width: 100%;
        position: absolute;
        img {
            width: 100%;
        }
    }
    &content {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8px 15px;
        background: var(--bg-color);
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        &:hover {
            opacity: 0.95;
        }
    }
}